@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');
$background: #fff;
$outline-color: #195272;
$face-color: #d7e8e9;
$tongue-color: #f9bbbb;
$inner-bg: #cedcdd;
$primary-font-family: 'Signika Negative',
sans-serif;

/*checkbox colors*/

$night-background: #808fc7;
$night-checkbox-background: #6b7abb;
$night-checkbox-border: #5d6baa;
$day-checkbox-background: #96dcee;
$day-checkbox-border: #72cce3;
$day-background: #c2e9f6;
$yellow-border: #f5eb71;
$yellow-background: #fffaa8;