@import './_variables';
html {
    font-family: $primary-font-family;
    /*background: #c2e9f6;*/
}

.cute-robot {
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    * {
        box-sizing: border-box;
    }
    .circle-bg {
        background: $inner-bg;
        width: 12rem;
        height: 12rem;
        border-radius: 100%;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
        &:hover {
            .robot-face {
                top: 1.5rem !important;
                cursor: pointer;
            }
            .eyes {
                top: 2rem !important;
            }
            .mouth {
                background: $outline-color;
                border: none;
                clip-path: polygon( 52% 39%, 76% 38%, 94% 37%, 92% 70%, 80% 90%, 49% 97%, 20% 90%, 8% 69%, 4% 37%, 20% 38%);
                &:after {
                    content: '';
                    position: absolute;
                    height: 40%;
                    width: 50%;
                    bottom: -10%;
                    left: 50%;
                    transform: translateX(-50%);
                    background: $tongue-color;
                    border-radius: 100%;
                }
            }
        }
    }
}

.robot-head {
    width: 9rem;
    height: 9rem;
    border-radius: 4rem;
    background: $background;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 0.1rem solid $outline-color;
    &:after {
        content: '';
        position: absolute;
        top: -2rem;
        left: 50%;
        transform: translateX(-50%);
        height: 2rem;
        width: 0.6rem;
        background: $outline-color;
    }
    &:before {
        content: '';
        position: absolute;
        top: -3.3rem;
        left: 50%;
        transform: translateX(-50%);
        height: 1rem;
        width: 1rem;
        background: $inner-bg;
        border: 0.2rem solid $outline-color;
        border-radius: 100%;
    }
}

.robot-face {
    height: 7rem;
    width: 8rem;
    background: $face-color;
    position: absolute;
    top: 1.6rem;
    left: 50%;
    transform: translate(-50%);
    border-radius: 2.8rem;
    .eyes {
        height: 1rem;
        width: 1rem;
        background: $outline-color;
        border-radius: 100%;
        position: absolute;
        top: 3rem;
        &.left {
            left: 1rem;
        }
        &.right {
            right: 1rem;
        }
    }
    .mouth {
        height: 4rem;
        width: 3rem;
        border-radius: 100%;
        position: absolute;
        left: 50%;
        top: 2rem;
        transform: translateX(-50%);
        border: 0.3rem solid transparent;
        border-bottom-color: $outline-color;
    }
}

.circle-bg {}

.timer {
    .countdown {
        font-family: $primary-font-family;
        background-image: linear-gradient( to top, #d7e8e9 0%, #cedcdd 50%, #d7e8e9 100%);
        box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        border: none;
        font-size: 1rem;
        width: 10rem;
        margin: 0 auto 2rem auto;
        text-align: center;
    }
}

.buttons {
    display: flex;
    justify-content: center;
    .btn {
        font-family: $primary-font-family;
        background-image: linear-gradient( to top, #d7e8e9 0%, #cedcdd 50%, #d7e8e9 100%);
        box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        border: none;
        font-size: 1rem;
        /*color: #fff;*/
        padding: 5px 10px;
        transition: 0.5s linear;
        cursor: pointer;
        &.button-one {
            margin-right: 1rem;
        }
        &.button-two {
            margin-right: 1rem;
        }
    }
}

.header {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .header-time {
        color: #fff;
        text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
    }
    .header-time li {
        list-style-type: none;
    }
    .bg-images {
        /*display: inline;*/
        /*float: right;*/
        margin-right: 6rem;
        background: #cedcdd;
        padding: 1rem;
        border-radius: 1rem;
        box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
        & a {
            margin: 0.8rem;
            cursor: pointer;
        }
    }
}

.toggle-checkbox {
    display: none;
    &:checked~.background {
        background: $night-background;
    }
    &:checked+.toggle-label {
        background: $night-checkbox-background;
        border-color: $night-checkbox-border;
    }
    &:checked+.toggle-label:before {
        background: $background;
        border-color: gray;
        animation-name: switch;
        animation-duration: 350ms;
        animation-fill-mode: forwards;
    }
    @keyframes switch {
        0% {
            left: 0px;
        }
        60% {
            left: 0px;
            width: 40px;
        }
        100% {
            left: 72px;
            width: 35px;
        }
    }
}

.toggle-label {
    width: 110px;
    height: 36px;
    background: $day-checkbox-background;
    border-radius: 100px;
    border: 1px solid $day-checkbox-border;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    position: relative;
    left: 50%;
    top: 35px;
    transform: translateX(-50%);
    transition: all 350ms ease-in;
    &:before {
        animation-name: reverse;
        animation-duration: 350ms;
        animation-fill-mode: forwards;
        transition: all 350ms ease-in;
        content: '';
        width: 35px;
        height: 35px;
        border: 1px solid $yellow-border;
        top: -1px;
        left: 2px;
        position: absolute;
        border-radius: 82px;
        background: $yellow-background;
    }
    @keyframes reverse {
        0% {
            left: 80px;
            width: 40px;
        }
        60% {
            left: 72px;
            width: 40px;
        }
        100% {
            left: 0px;
        }
    }
    /* .toggle-label-background {
        width: 10px;
        height: 5px;
        border-radius: 5px;
        position: relative;
        background: white;
        left: 75px;
        top: 15px;
        transition: all 150ms ease-in;
        &:before {
            content: '';
            position: absolute;
            top: -5px;
            width: 30px;
            height: 5px;
            border-radius: 5px;
            background: white;
            left: -15px;
            transition: all 150ms ease-in;
        }
        &:after {
            content: '';
            position: absolute;
            top: 5px;
            width: 30px;
            height: 5px;
            border-radius: 5px;
            background: white;
            left: -10px;
            transition: all 150ms ease-in;
        }
    } */
}


/* .background {
    position: absolute;
    left: 0;
    top: 0;
    background: $day-background;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: all 250ms ease-in;
} */